main {
    height: 100%;
    padding: 20px 20%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 550px;
}

.create-post {
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    border-radius: 5px;
}


.create-post>img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: #e9e9e9 solid 0.5px;;
}

.create-post-input {
    height: 70%;
    width: 100%;
    background-color: #D1D9DF;
    border-style: none;
    border-radius: 5px;
    padding: 0 10px;
}

.user-posts {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    min-height: 200px;

    /* Maybe change later */
    max-height: 600px; 

    width: 550px;
    border-radius: 5px;
}

.like-bar {
    min-width: 35px;
    max-width: 35px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    border-radius: 5px 0 0 5px;
}

.like-bar>.arrow {
    height: 14px;
    width: 14px;
}

.like-bar>p {
    font-weight: 600;
}

.like-bar>.up {
    padding-top: 10px;
}

.post-display {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    gap: 10px;
}

.post-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post-info>.post-subthread-name {
    font-weight: bold;
    text-decoration: underline;
}
.post-info>.post-username {
    text-decoration: underline;
}

.post-title {
    font-weight: 700;
    font-size: 1.3em;
}

.post-options {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.post-options>img {
    height: 17px;
    width: 17px;
}



/* Sidebar */
.sidebar {
    width: 275px;
    height: 250px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.mini-banner {
    height: 50px;
    width: 100%;
    border-radius: 5px;
}

.mini-banner>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.subthread-name {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subthread-name>h2 {
    font-size: 20px;
    font-weight: bold;
}

.subthread-name>p {
    font-size: 14px;
}

.line {
    height: 1px;
    background-color: #9c9c9c;
    margin: 0 10px;
}

.sidebar-options {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.option, .option>button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.option>button {
    font-weight: bold;
}

.create-post-option>button {
    background-color: #ff5c5c;
    color: #ffffff;
}

.create-community-option>button {
    background-color: #ffffff;
    color: #ff5c5c;
    border: 1px solid #ff5c5c;
}

