main {
    height: 100%;
    padding: 20px 20%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    justify-items: center;
}

.post-display {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 550px;
}

.create-post-bar {
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
    border-radius: 5px;
}


.create-post-bar>img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: #e9e9e9 solid 0.5px;;
}

.create-post-bar>input {
    height: 70%;
    width: 100%;
    background-color: #D1D9DF;
    border-style: none;
    border-radius: 5px;
    padding: 0 10px;
}





