/* Header */
header {
    box-sizing: border-box;

    position: fixed;
    top: 0;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-items: center;
    gap: 5px;
    height: 70px;
    padding: 5px 15px;
    background-color: #ffffff;

    border: 1px solid #D1D9DF;
}

.logo, .user-info, .settings {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}


.logo {
    display: flex;
    padding: 0 10px;
    height: 40px;
    width: 40px;
}


.subthread-options {
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subthread-options>select {
    height: 70%;
    width: 100%;

    background-color: transparent;
    border: 1px solid #D1D9DF;
    border-radius: 15px;

    padding: 5px 10px;

    font-weight: 600;
    font-size: 1.1em;

}

.subthread-options>select>option {
    background-color: #ffffff;
}



.search {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.search>.search-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.search>.search-bar>input {
    min-height: 80%;
    width: 100%;
    background-color: #D1D9DF;
    border-style: none;
    border-radius: 20px;
    padding: 0 10px;
}

.user-auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}




.user-auth>button {
    height: 70%;
    width: 50%;
    min-width: max-content;
    border-radius: 50px;
    border: none;
    background-color: #ff5c5c;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.user-auth>button:hover {
    background-color: #f97272;
    cursor: pointer;
}

.user-info {
    gap: 12px;
    /* display: none; */
    display: flex;
    justify-content: center;
}

.user-info-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-info-bar>p {
    font-size: 1.2em;
    font-weight: 600;
}


#logout-button {
    margin-left: auto;
    height: 70%;
    width: 200px;

    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: #ff5c5c;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

#logout-button:hover {
    background-color: #f97272;
    cursor: pointer;
}

.settings>img {
    display: none;
    height: 30px;
    width: 30px;
}


