/* Header */
header {
    position: fixed;
    top: 0;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr;
    align-items: center;
    gap: 5px;
    height: 60px;
    padding: 5px 15px;
    background-color: #ffffff;
}

.logo, .user-info, .settings {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}


.logo {
    display: flex;
    padding: 0 10px;
    height: 40px;
    width: 40px;
}


.subscribed-subthread {
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thread-bar {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thread-bar>.home {
    height: 30px;
    width: 30px;
    padding-bottom: 3px;
}

.thread-bar>p {
    padding-left: 5px;
    font-size: 17px;
    font-weight: 1000;
}

.thread-bar>.down-arrow {
    margin-left: auto;
    height: 15px;
    width: 15px;
}

.search {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.search>.search-bar {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}

.search>.search-bar>input {
    min-height: 80%;
    width: 100%;
    background-color: #D1D9DF;
    border-style: none;
    border-radius: 20px;
    padding: 0 10px;
}

.user-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100%;
    width: 100%;
}


.user-info {
    gap: 12px;
    display: none;
}

.user-info-bar>p {
  font-weight: 600;
}

.user-info>img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.user-auth {
    height: 100%;
}

.user-auth>button {
    height: 70%;
    width: 50%;
    min-width: max-content;
    border-radius: 50px;
    border: none;
    background-color: #ff5c5c;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.user-auth>button:hover {
    background-color: #f97272;
    cursor: pointer;
}

#logout-button {
    margin-left: auto;
    height: 70%;
    width: max-content;

    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: #ff5c5c;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

#logout-button:hover {
    background-color: #f97272;
}

.settings>img {
    display: none;
    height: 30px;
    width: 30px;
}


